.deliveryCardContainer {
    display: flex;
    flex-direction: column;

    width: 95vw;

    padding: 1.2rem 1.2rem;

    background: #fff;

    border-radius: 5px;

    color: var(--gray-500);
    font-size: 0.75rem;

    margin-bottom: 0.625rem;

    box-shadow: 0 3px 45px rgba(0, 0, 0, 0.05);

    gap: 0.875rem;

    .paymentContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        p {
            font-weight: 700;
            font-size: 0.875rem;
            color: var(--orange-700);
        }

        .toggleOn {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 1.5rem;
            width: 3rem;
    
            background-color: var(--orange-700);
    
            border-radius: 10rem;
            
            transition: background-color 0.5s;
    
            .toggleCircle {
                margin-right: -1.5rem;
    
                width: 1rem;
                height: 1rem;
    
                border-radius: 10rem;
    
                background-color: var(--orange-100);
    
                transition: background-color 0.3s, margin-left ease-out 0.1s;
            }
        }
        
        .toggleOff {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 1.5rem;
            width: 3rem;
    
            background-color: var(--gray-300);
    
            border-radius: 10rem;
            
            transition: background-color 0.5s;
            
            .toggleCircle {
                margin-left: -1.5rem;
    
                width: 1rem;
                height: 1rem;
    
                border-radius: 10rem;
    
                background-color: var(--gray-100);
    
                transition: background-color 0.3s, margin-left ease-out 0.1s;
            }
        }
    }

    section {

       .titleDelivery {
           margin-bottom: 0.2rem;
       }

        h3 {
            color: var(--orange-700);
            font-size: 0.875rem;

            strong {
                margin-left: 0.3rem;
                font-weight: 500;
                font-size: 0.75rem;
            }
       }

       &:first-child{
           margin-bottom: 0.2rem;
       }
    }


    .headerContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        gap: 0.25rem;
        
        .profile {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 0.25rem;
            margin-right: 0.25rem;

            white-space: nowrap;
            
            span {
                max-width: 250px;
                // width: 125px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        div {
            display: flex;
            flex-direction: row;
            align-items: center;

            gap: 0.5rem;

        }


        button{
            background-color: var(--orange-100);
            
            height: 2.3rem;
            width: 2.3rem;
            
            border-radius: 10rem;
            
            margin-left: 0.5rem;

            .faIcon{
                font-size: 1.3rem;
                font-weight: 100;
                color: var(--orange-700);
            }
        }

        .showDeliveryCard {
            color: var(--gray-300);

            
            transition: transform ease-out 0.15s;
        }
        
        .hideDeliveryCard {
            color: var(--gray-300);
            
            transform: rotate(180deg);
            
            transition: transform ease-out 0.15s;
        }
    }

    .statusContainer {
        display: flex;
        flex-direction: row;
        align-items: initial;
        
        gap: 0.25rem;

        .label {
            display: flex;
            align-items: center;

            padding: 0.75rem 0.5rem;
            
            height: 1rem;
            
            border-radius: 2rem;
            
            font-size: 0.625rem;

            gap: 0.3rem;

            // max-width: 70px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            

            span {
                font-size: 0.625rem;
                font-weight: 500;
            } 
        }
        
        .loading {
            animation: charge 1.25s infinite;
        }

        @keyframes charge {
            from{
                transform: rotate(0deg);
            }to{
                transform: rotate(360deg);
            }
        }

        .labelSuccess {
            background: var(--green-100);

            color: var(--green-700);
        }

        .labelIssue {
            background: var(--yellow-100);

            color: var(--black);
        }

        .labelDanger {
            background: var(--red-100);

            color: var(--red-700);
        }

        .labelTime {
            background: var(--gray-100);

            color: var(--gray-600);
        }
    }

    .profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;

        .info {
            display: flex;
            flex-direction: row;
            align-items: center;

            .client{
                margin-left: 0.5rem;

                .currentRate {
                    color: var(--orange-700);
                    font-size: 0.875rem;
                    
                    span {
                        margin-left: 0.25rem;

                        font-size: 0.875rem;
                    }
                }
            }
        }
    }

    .rateDeliveryman {
        display: flex;
        flex-direction: column;

        span {
            font-size: 0.75rem;
        }

        .clientRate {
            ul {

                display: flex;
                flex-direction: row;
                
                li {
                    color: var(--orange-700);
                    margin-right: 0.2rem;
                    font-size: 0.625rem;
                }
            }
        }

        button {
            margin-top: 1rem;

            height: 3rem;

            border-radius: 5px;

            background: var(--orange-100);

            color: var(--orange-700);
            font-weight: 500;
        }
    }

    .addressContainer {
        
        span {
            font-size: 0.75rem;
        }
    }

    .actionButtonsContainer {
        display: flex;
        flex-direction: column;

        .cancelBtn {
            display: none;
            justify-content: flex-end;

            width: 100%;

            color: var(--red);
            background: none;

            height: 2.5rem;
            border-radius: 5px;
        }

        .progressBtns {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            height: 2.5rem;
            
            .issueBtn {
                width: 100%;

                border-radius: 5px;

                color: var(--black);
                background: none;

                font-weight: 500;
            }

            .finalizeBtn {
                margin-left: 0.2rem;
                width: 150%;

                border-radius: 5px;

                font-weight: 500;
                color: var(--green-600);
                background: var(--green-100);
            }
        }
    }
}