.deliveryCardContainer {
    display: flex;
    flex-direction: column;

    width: 95vw;

    padding: 1.2rem 1.2rem;

    background: #fff;

    border-radius: 5px;

    color: var(--gray-500);
    font-size: 0.75rem;

    margin-bottom: 0.625rem;

    box-shadow: 0 3px 45px rgba(0, 0, 0, 0.05);

    section {
       margin-bottom: 0.875rem;

       .titleDelivery {
           margin-bottom: 0.2rem;
       }

        h3 {
            color: var(--orange-700);
            font-size: 0.875rem;

            strong {
                margin-left: 0.3rem;
                font-weight: 500;
                font-size: 0.75rem;
            }
       }

       &:first-child{
           margin-bottom: 0.2rem;
       }
    }

    .headerContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: initial;

        .dateTimeId {
            display: flex;
            flex-direction: column;

            .dateTime {
                font-size: 0.75rem;

                margin-bottom: 0.625rem;
            }

            .idDelivery {
                font-size: 0.875rem;
                
                strong {
                    font-size: 0.875rem;
                }
            }
        }

        button{
            background-color: var(--orange-100);
            
            height: 2.3rem;
            width: 2.3rem;
            
            border-radius: 10rem;
            
            margin-left: 0.5rem;

            .faIcon{
                font-size: 1.3rem;
                font-weight: 100;
                color: var(--orange-700);
            }
        }

        .showDeliveryCard {
            color: var(--gray-300);

            
            transition: transform ease-out 0.15s;
        }
        
        .hideDeliveryCard {
            color: var(--gray-300);
            
            transform: rotate(180deg);
            
            transition: transform ease-out 0.15s;
        }
    }

    .profile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .info {
            display: flex;
            flex-direction: row;
            align-items: center;

            .client{
                margin-left: 0.5rem;

                .currentRate {
                    color: var(--orange-700);
                    font-size: 0.875rem;
                    
                    span {
                        margin-left: 0.25rem;

                        font-size: 0.875rem;
                    }
                }
            }
        }

        .arrow {
            color: var(--orange-700);
        }
    }

    .statusContainer {
        display: flex;
        flex-direction: column;

        p {
            font-weight: 500;
            font-size: 0.75rem;
        }

        span {
            font-size: 0.75rem;
        }

        .statusBar{
            margin: 0.5rem 0 0.5rem 0;
        
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        
        .waitingDeliverymanStatus{
            width: 24%;
            height: 0.3rem;
        
            background: var(--gray-100);
            
            .waitingDeliverymanCurrentStatus{
                width: 100%;
                height: 0.3rem;
            
                background: var(--green-500);
            }

        }
        
        .deliveryInProgressStatus{
            width: 74%;
            height: 0.3rem;
        
            background: var(--gray-100);
            
            .deliveryInProgressCurrentStatus{
                width: 60%;
                height: 0.3rem;
            
                background: var(--green-500);
            }
        }
    }

    .addressContainer {
        
        span {
            font-size: 0.75rem;
        }
    }

    .actionButtonsContainer {
        display: flex;
        flex-direction: column;

        .progressBtns {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            .issueBtn {
                width: 100%;

                padding: 1rem ;

                border-radius: 5px;

                color: var(--gray-600);
                background: var(--yellow-100);

                font-weight: 500;
            }

            .nextStepBtn {
                width: 200%;

                padding: 1rem ;

                border-radius: 5px;

                color: var(--green-600);
                background: var(--green-100);

                font-weight: 500;

                margin-left: 0.5rem;
            }

            .issueRequestBtn {
                width: 200%;
                margin-left: 0.5rem;
                border-radius: 10rem;

                background: var(--red-300);

                color: #fff;

                padding: 1rem;

                span {
                    margin-left: 0.5rem;
                    font-size: 0.75rem;
                }
            }

            .issueRequestBtnViewed {
                border-radius: 10rem;

                background: var(--gray-200);

                color: var(--gray-600);

                padding: 1rem;

                span {
                    margin-left: 0.5rem;
                    font-size: 0.75rem;
                }
            }
        }
    }

    // ISSUE REQUEST
    h3 {
        font-size: 0.75rem;

        strong {
            margin-left: 0.5rem;
            font-size: 0.75rem;
        }

        color: var(--orange-700);

        margin-bottom: 0.5rem;
    }
    
    .whatsWrong {
        
        .prevData {
            span {
                color: var(--gray-300);
                font-size: 0.75rem;
            }
            p {
                font-size: 0.875rem;
            }
        }

        .issue {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
            padding-left: 1rem;
            width: 100%;
            padding: 1rem;
            
            border: 1px solid var(--gray-200);
            border-radius: 5px;
            
            margin: 0.5rem 0 0.3rem 0;
            
            background: var(--gray-200);
            
            color: var(--gray-600);

            p {
                margin-left: 0.5rem;
                font-size: 0.875rem;
            }

            strong {
                font-weight: 500;
                font-size: 0.875rem;
                margin-top: 0.5rem;
            }

            .issueTitle {
                display: flex;
                flex-direction: row;

            }
        }

        .messageDeliveryman {
            margin-top: 1rem;

            color: var(--gray-600);

            strong {
                font-weight: 500;
            }
        }
    
    }
    
    .solveAction {
        display: flex;
        flex-direction: column;

        .solveOptions{
            display: flex;
            flex-direction: row;

            .solveActionOption {
                border: 1px solid var(--gray-200);
                border-radius: 5px;
        
                display: flex;
                flex-direction: row;
                align-items: center;
        
                font-size: 2rem;
        
                padding: 1rem;
        
                span {
                    margin-left: 0.5rem;
                    font-size: 0.75rem;
                }
        
                &:first-child {
                    margin-right: 0.15rem;
                }
                &:last-child {
                    margin-left: 0.15rem;
                }
            }

        }
        
        .solveActionOptionOnPressed {
            border: 1px solid var(--orange-700);
            border-radius: 5px;
            
            display: flex;
            flex-direction: row;
            align-items: center;
            
            font-size: 2rem;
            
            padding: 1rem;
            
            color: var(--orange-700);
            
            span {
                margin-left: 0.5rem;
                font-size: 0.75rem;
            }
            
            &:first-child {
                margin-right: 0.15rem;
            }
            &:last-child {
                margin-left: 0.15rem;
            }
        }
        
        .explanation {
            display: flex;
            flex-direction: column;

            margin-top: 0.5rem;

            strong {
                font-size: 0.75rem;
                font-weight: 600;
                color: var(--black);
            }
    
            span {
                font-size: 0.75rem;
                
            }
        }
    }
    
    .issueButtonsContainer {
        display: flex;
        flex-direction: column;
    
        button {
            height: 3rem;
    
            margin-top: 0.5rem;
    
            border-radius: 5px;
    
            font-weight: 500;
        }
    
        .requestIssueBtn {
            background: var(--yellow-100);
            color: var(--gray-600);
        }
    
        .disabledBtn {
            color: var(--gray-300);
        }
    }
}